.conexion{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    background-color: rgba(132, 255, 132, 0.224);
}
.chat .data{
    height: 250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.chat{
    height: 300px;
    min-width: 200px;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    border-radius: 5px;
}
.chat .data .recibido{
    background-color: rgba(40, 148, 242, 0.649);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.chat .data .enviante{
    background-color: rgba(253, 230, 99, 0.649);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}